.meeting-tile {
    display: flex;
    padding: 15px 0;
    margin: 5px 0;
    align-items: center;
    justify-content: space-between;

    .meeting-details {
        display: flex;
        align-items: center;
        gap: 10px;
        h5,
        p {
            margin: 0;
        }
    }
    .action-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 8px;
        background-color: #f5f6fa;
    }
}


.date-widget{
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.139) 0px 5px 15px;
    .day{
        color: #ffa602;
    }
}