* {
    font-weight: 400;
    color: #29292b;
}

p {
    font-size: 14px;
}

small {
    font-size: 12px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 34px;

}

h4 {
    font-size: 29px;

}

h5 {
    font-size: 24px;

}

h6 {
    font-size: 19px;

}

.light-text {
    color: #b2b2b2;
}

.text-primary {
    color: #387dff;
}
.text-success {
    color: #5ad59d;
}
.text-danger {
    color: #ff785a;
}
.fw-bold {
    font-weight: bold;
}

.fw-semibold {
    font-weight: 500;
}

.fw-light {
    font-weight: 200;
}